NODE_ENV=development
PORT=5000

MONGO_URI=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d

FRONTEND_URL=http://localhost:5173


RAZORPAY_KEY_ID=rzp_test_Sz3dqB024EyrLe
RAZORPAY_KEY_SECRET=YS7sowfndvM2BoRDoXnQ2mB6
RAZORPAY_WEBHOOK_SECRET=mbbs_razorpay_whsec_8xT29kLpQ7sM4vRz